body {
    display:flex;
    width: 100vw;
    height:100vh;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

main {
    display:grid;
    position: relative;
    grid-template-columns: repeat(30, 1fr);
    gap:1px;
    width:100%;
    flex-grow:1;
    background-image:url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    display: flex;
    background-color:#101010;
    width:100%;
    height:4vh;
    justify-content: space-between;
}

.left-seat,
.right-seat {
    display: flex;
    gap:2px;
}

.right-seat {
    flex-direction: row-reverse;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:12px;
    padding-right:12px;
    height:100%;
}

.button:hover {
    background-color: #272727;
}

.button:hover .windows-svg {
    fill:#429ce3;
}

.close-windows {
    border-left: 1px solid #707070;
    padding-left:4px;
    margin-left:5px;
}

.close-windows:hover {
    background-color: #272727;
}

.clock {
    color:#fff;
    font-size:12px;
    padding-left:5px;
    padding-right:5px;
}

.lang {
    color:#fff;
    text-transform: uppercase;
    font-size:12px;
    padding-left:5px;
    padding-right:5px;
}

.vscode {
    border-bottom: 2px solid #76b9ed;
}

.speaker {
    padding-left:5px;
    padding-right:5px;
}

.network {
    padding-left:5px;
    padding-right:5px;
}

.folder {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    max-height:90px;
    color:#fff;
    font-size:13px;
    text-shadow: 1px 1px #101010;
    text-align: center;
    padding:10px;
    margin:3px;
}

.folder:hover {
    outline: 1.5px solid rgb(122,129,135);
    border-radius: 1px;
    background-color:rgb(122,129,135, 0.3) ;
}

.folder-img {
    width:30px;
}

.active {
    outline: 1.5px solid rgb(120, 141, 157);
    border-radius: 1px;
    background-color:rgb(120, 141, 157, 0.3);
}

.active:hover {
    outline: 1.5px solid rgb(83, 129, 165);
    border-radius: 1px;
    background-color:rgba(87, 150, 199, 0.3);
}

.about-me {
    position: absolute;
    border:1px solid #0078d7;
    left:20%;
    top:5%;
    width:1000px;
    display: flex;
    flex-direction: column;
}

.notepad-header {
    display: flex;
    color: white;
    width: 100%;
    height: 25px;
    background-color: #0078d7;
    justify-content: space-between;
    font-size: 14px;
    z-index:0;
}

.app-close {
    padding-bottom:1.5px;
    padding-top:1.5px;
}

.app-close:hover {
    background-color: #e81123;
}

.app-full {
    display: flex;
    align-items: center;
    justify-items: center;
}
.app-full .square {
    background-color: #1a86db;
    border:1px solid white;
    width:10px;
    height:10px;
}

.app-full,
.app-tray {
    padding-bottom:1.5px;
    padding-top:1.5px;
}

.app-tray:hover,
.app-full:hover {
    background-color: #1a86db;
    z-index: 0;
}

.notepad-seat {
    align-items: center;
}

.notepad-img {
    margin-left: 2px;
    width:17px;
    height:17px;
}

.notepad-setting {
    display: flex;
    background-color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
}

.np-button {
    padding: 2px 5px;
}

.np-button:hover {
    background-color: #e5f3ff;
}

.notepad-main{
    display: flex;
    justify-content: flex-end;
}

.notepad-workspace {
    width:100%;
    background-color: #fff;
    flex-grow: 1;
    text-align:start;
}

.notepad-scroll {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    width: 20px;
    background-color:#f0f0f0;
    color:#bfbfbf;
    font-size:20px;
}

.notepad-scroll::before {
    display: inline-block;
    content: '>';
    color:#bfbfbf;
    transform:rotate(270deg);
    font-size:20px;
    text-align: center;
    margin-right:5px;
}

.notepad-scroll::after {
    display: inline-block;
    content: '>';
    transform:rotate(90deg);
    margin-left:5px;
}

.np-add-setting {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f0f0f0;
}

.np-add-setting .text {
    font-size:13px;
    padding: 2px 30px 2px 5px;
    border:1px solid #d7d7d7;
}

.full-width {
	top:0;
	left:0;
	width:100%;
	height:96.1vh;
    
}

.full-width .notepad-main {
	height:100%;
}

.full-width .square {
    position: relative;
}

.full-width .square:after {
    content:'';
    border:1px solid white;
    width:10px;
    height:10px;
    position: absolute;
    top:-4px;
    left:2px;
    z-index: -1;
}

@media (width < 1400px) {

    footer {
        height:7vh;
    }

    .about-me {
        width: 615px;
    }
}